
<div class="topnav">
  <a style="color: #000000;" class="button" routerLink="/user"> <b>Result List</b></a>
  <a style="color: #000000;" class="button" routerLink="/institute"> <b>Institution List</b></a> 
  <a style="color: #000000;" class="button" routerLink="/new"> <b>Todo List</b> </a>
  <a style="color: #000000;" class="button" routerLink="/gallery"> <b> Gallery</b> </a>
  <a style="color: #000000;" class="button" routerLink="/card"> <b> Card </b> </a> 
  <a style="color: #000000;" class="button" routerLink="/zoomImage"> <b>Blogs </b> </a>
  <a style="color: #000000;" class="button" routerLink="/four"> <b>Degree Page</b> </a> 
  <a style="color: #000000;" class="button" routerLink="/five"> <b>Add API dummy</b> </a> 
  <a style="color: #000000;" class="button" routerLink="/six"> <b> Student Portal</b> </a>
  
</div>

<div class="background-img">

</div>
  
<router-outlet></router-outlet>
